@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Fredoka:wght@300..700&display=swap');


* {
    font-family: "Fredoka";
    font-size: 24px;
}

/* SIDEBAR */
aside {
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    max-width: 500px;
    width: min-content;
    height: 100vh;
    padding: 1rem;

    color: white;
    background-color:purple;
    transition: all 0.5s ease-in-out;
}

#sidebar-logo {
    font-family: "Fredoka";
    font-size: 4rem;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    color: orange;
    -webkit-text-stroke: 5px white;
    text-shadow: 0px 5px white;
}

#sidebar-logo:hover {
    transform: scale(1.25) rotate(-5deg);
    font-weight: 1500;
    color: orange;
    -webkit-text-stroke: 5px white;
}

aside:hover #sidebar-logo {
    font-size: 8rem;
    font-weight: 900;
}

aside > hr {
    width: 100%;
    border: 0.5px solid white;
    margin: 1rem;
}

aside > nav {
    width: min-content;
    flex-grow: 1;
}

aside > nav > ul {
    display: flex;
    flex-flow: column nowrap;
    
    gap: 0.5em;
    width: max-content;
}

aside nav .sidebar-retract, body aside .sidebar-retract {
    margin-left: 0;
    opacity: 0;
    width: 0;
}

/* NAV ITEMS */
.nav-item {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: all 0.5s ease-in-out;
}

.nav-item:hover {
    background-color:midnightblue;
}

.nav-active {
    background-color:midnightblue;
}

.nav-item i {
    font-size: 1rem;
    color: white;
    transition: all 0.5s ease-in-out;
}

.nav-item:hover i {
    color:orange;
    transform: scale(1.25) rotate(-5deg);
}

.nav-item a {
    margin-left: 0.5em;
    display: inline-block;
    white-space: nowrap;
    max-width: max-content;
    width: 500px;
    transition: all 0.5s ease-in-out;
}

.nav-item:hover a {
    font-weight: 600;
    color: orange;
}

#sign-in {
    background-color: orange;
    box-shadow: 0px 10px 0px 0px darkorange;
    border: 5px solid darkorange;
    transition: all 0.5s ease-in-out;
}

#sign-in:hover {
    background-color:darkmagenta;
}

#sign-in a, #sign-in i {
    color: white;
}

#sign-in:hover a, #sign-in:hover i {
    color: white;
}


/* ICONS */
i {
    text-align: center;
    font-size: 1em;
}

/* PARALLAX */
.parallax {
    z-index: 0;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
}